<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polished - Appointment Booking System for Nail Salons</title> 
  
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css'>
  <link rel="stylesheet" href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css'>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href='/css/booking.css'>
  <link rel="stylesheet" href='/css/manager.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:wght@100;200&display=swap" rel="stylesheet">
  <script src="/javascript/helpers.js"></script>
 {{!-- <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" /> --}}
</head>

<body>
    <header>
        <nav>
            <a class="nav-btn" id="home-nav-btn" href="/">HOME</a>
            {{#if (isCustomer user_role)}}
            <a class="nav-btn" id="appt-nav-btn" href="/appointment">APPOINTMENT</a>
            {{/if}}
            {{#if (isManager user_role)}}
            <a class="nav-btn" id="manager-nav-btn" href="/manager">MANAGER</a>
            {{/if}}
            {{#if logged_in}}
            <a class="nav-btn" id="logout-nav-btn">LOGOUT</a> 
            {{else}}
            <a class="nav-btn" id="login-nav-btn" href="/login">LOGIN</a> 
            {{/if}}
        </nav>
    </header> 
    <main>
        {{{ body }}}
    </main>
    {{#if logged_in}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>